/* Set global font */
body {
	font-family: 'Montserrat', sans-serif;
}

/* Custom container-fluid */
.container-fluid {
	padding: 3% 15% 7%;
}

/* h1 font style */
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
}

/* h2 font style */
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
}

/* h3 font style */
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

/* p font style */
p {
	color: #8f8f8f;
}

/* Navbar */
.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.5rem;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

/* Title section */
#title {
	background-color: #ff4c68;
	color: #fff;
}

/* Download Buttons */
.download-button {
	margin: 5% 3% 5% 0%;
}

/* Title img */
.title-img {
	/* width: 60%; */
	height: 50%;
	transform: rotate(25deg);
	position: absolute;
	right: 25%;
}

/* Features section */
#features {
	padding: 7% 15%;
	background-color: #fff;
	/* relative: keep natural html flow layout */
	position: relative;
	/* In this case is the same use z-index or not, becouse both elements are positioned
	and one is over the nex element on html layout */
	z-index: 1;
}

.feature-box {
	text-align: center;
	padding: 5%;
}

.feature-icon {
	color: #ef8172;
	margin-bottom: 1rem;
}

.feature-icon:hover {
	color: #ff4c68;
}

/* Testimonials */
#testimonials {
	background-color: #ef8172;
	color: #fff;
	text-align: center;
}

.testimonial-img {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

.carousel-item {
	padding: 7% 15%;
}

#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

/* Princing Section */
#pricing {
	padding: 100px;
	text-align: center;
}

.pricing-column {
	padding: 3% 2%;
}